.cta-section-container{
    display: flex;
    flex-direction: column;
    margin: 125px 0;  
    justify-content: center; 
    align-items: center;
    .cta-heading-container{

    }
    .cta-text-container{
        margin: 25px 0;

    }
    .cta-button-container{

    }
     
} 