// Going to do the grid container here for mobile breakdown

.feature-section-container{  
    display: flex;
    flex-direction: row;  
    margin: 125px 0;
    .feature-section-text{ 
        width: 50vw;
        padding: 0 75px 0 0; 
        display: flex;
        align-items: center;
        .feature-section-heading{ 
            p{
                margin: 20px 0;
            }
            .feature-section-perks{
                display: flex;
                flex-direction: row;
                .feature-section-item{ 
                }
            }
        }
    }
    .feature-section-image{ 
        width: 50%;
        display: flex;
        align-items: center;
        // justify-content: center; 
         
        img{ 
            width: 750px;
            height: 550px;
        }
    }
}