// Going to do the grid container here for mobile breakdown

.hero-section-container{
    border: 1px solid black;
    height: 80vh;
    display: flex;
    flex-direction: row;  
    .hero-section-text{
        border-right: 1px solid black;
        width: 50vw;
        padding: 0 75px;
        background-color: aqua; 
        display: flex;
        align-items: center;
        .hero-section-heading{ 
            p{
                margin: 20px 0;
            }
            .hero-section-buttons{
                :button{
                    border: 1px solid black;
                }
            }
        }
    }
    .hero-section-image{
        
    }
}